.contenedor-registro {
    margin: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.contenedor-registro h2 {
    padding-left: 5px;
    font-size: 20px;
}
