body {
    background-image: url(./assets/imagenes/BackgroundTraining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
